<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull is-layout-flow wp-block-group-is-layout-flow" style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--50)">

	<!-- wp:group {"className":"naturlust-front","layout":{"type":"constrained"}} -->
	<div class="wp-block-group naturlust-front">

		<!-- wp:pattern {"slug":"naturlust/site-stamp"} /-->

		<!-- wp:pattern {"slug":"naturlust/front-hero"} /-->

		<!-- wp:pattern {"slug":"naturlust/category-tiles"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
