<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"naturlust-surface","layout":{"type":"constrained"}} -->
<main class="wp-block-group naturlust-surface">

	<!-- wp:post-title {"level":1,"fontFamily":"serif","fontSize":"x-large"} /-->
	<!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/9","style":{"border":{"radius":"16px"}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
